li {
    padding: 15px;
    margin: 15px;
    background: #ffffff;
    list-style: none;
}

ul {
    list-style: none;
}

.center {
    text-align: center;
}

.right {
    align-content: right;
}

img {
    align-content: center;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px #ffffff;
}

.create-update-form {
    padding: 25px;
    margin: 25px;
    background: #eceff1;
    border: 1px black solid;
}